@model ApparelManagement.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="bg-primary bg-soft">
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-primary p-4">
                                        <h5 class="text-primary"> Register</h5>
                                        <p>Get Your ApparelManagement User account now.</p>
                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    <img src="~/assets/images/profile-img.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>

                        <div class="card-body pt-0">
                            <div>
                                <a href=@Url.Action("Index", "Dashboard")>
                                    <div class="avatar-md profile-user-wid mb-4">
                                        <span class="avatar-title rounded-circle bg-light">
                                            <img src="~/assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div class="p-2">
                                <form class="needs-validation" novalidate action=@Url.Action("Index", "Dashboard")>

                                    <div class="mb-3">

                                        @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                                        <div class="invalid-feedback">
                                            Please Enter Email
                                        </div>
                                    </div>

                                    <div class="mb-3">

                                        @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                                        <div class="invalid-feedback">
                                            Please Enter Password
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                                        <div class="invalid-feedback">
                                            Please Enter Password
                                        </div>
                                    </div>

                                    <div class="mt-4 d-grid">
                                        <input type="submit" class="btn btn-primary waves-effect waves-light" value="Register" />
                                    </div>
                                </form>
                            </div>

                        </div>

                    }


                </div>
            </div>
            <div class="mt-5 text-center">

                <div>
                    <p>Already have an account ? @Html.ActionLink("Login", "Auth", new { @class = "fw-medium text-primary" }) </p>
                    <p>
                        ©
                        <script>document.write(new Date().getFullYear())</script> ApparelManagement. Crafted with <i class="mdi mdi-heart text-danger"></i> by teamExperts
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
